<!doctype html>
<html lang="en">
<!-- {% load_static %} -->
  <head>
    <title>Supreeth &mdash; A onepage portfolio </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <meta name="description" content="A onepage portfolio">
    <meta name="keywords" content="html, css, javascript, jquery">
    <meta name="author" content="Unslate.co">

    <link rel="stylesheet" href="css/vendor/icomoon/style.css">
    <link rel="stylesheet" href="css/vendor/owl.carousel.min.css">
    <link rel="stylesheet" href="css/vendor/aos.css">
    <link rel="stylesheet" href="css/vendor/animate.min.css">
    <link rel="stylesheet" href="css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="css/vendor/jquery.fancybox.min.css">
    

    <!-- Theme Style -->
    <link rel="stylesheet" href="css/style.css">
<!-- {% csrf_token %} -->
  </head>
  <body data-spy="scroll" data-target=".site-nav-target" data-offset="200">

    <nav class="unslate_co--site-mobile-menu">
      <div class="close-wrap d-flex">
        <a href="#" class="d-flex ml-auto js-menu-toggle">
          <span class="close-label">Close</span>
          <div class="close-times">
            <span class="bar1"></span>
            <span class="bar2"></span>
          </div>
        </a>
      </div>
      <div class="site-mobile-inner"></div>
    </nav>


    <div class="unslate_co--site-wrap">

      <div class="unslate_co--site-inner">

        <div class="lines-wrap">
          <div class="lines-inner">
            <div class="lines"></div>
          </div>
        </div>
        <!-- END lines -->
      
      <nav class="unslate_co--site-nav site-nav-target">

        <div class="container">
        
          <div class="row align-items-center justify-content-between text-left">

            <div class="col-3">
              <div class="site-logo">
                <a href="index-right-menu.html" class="unslate_co--site-logo">Supreeth<span>.</span></a>
              </div>
            </div>
            <div class="col text-right">
              <ul class="site-nav-ul js-clone-nav text-left d-none d-lg-inline-block">
                
                <li><a href="#projects-section" class="nav-link">Projects</a></li>
                <li><a href="#interests-section" class="nav-link">Interests</a></li>
                <li><a href="#about-section" class="nav-link">About</a></li>
                <li><a href="#services-section" class="nav-link">Services</a></li>
                <li><a href="#language-section" class="nav-link">Language</a></li>
                <li><a href="#skills-section" class="nav-link">Skills</a></li>
                <li><a href="#contact-section" class="nav-link">Contact</a></li>
                <li><a href="#social-media-section" class="nav-link">Social Media</a></li>
              </ul>

              <ul class="site-nav-ul-none-onepage text-right d-inline-block d-lg-none">
                <li><a href="#" class="js-menu-toggle">Menu</a></li>
              </ul>
            </div>
            
          </div>
        </div>

      </nav>
      <!-- END nav -->

      <div class="cover-v1 jarallax overlay" style="background-image: url('images/b.jpeg');"  id="home-section"><!--{{"user.profile_pic"}} -->
        <div class="container">
          <div class="row align-items-center">
              
            <div class="col-md-7 mx-auto text-center">
              <h1 class="heading gsap-reveal-hero text-white">Supreeth</h1>
              <h2 class="subheading gsap-reveal-hero text-white">Undergraduate, BITS Pilani,Pilani</h2>
            </div>

          </div>
        </div>


        <!-- dov -->
        <a href="#portfolio-section" class="mouse-wrap smoothscroll">
          <span class="mouse">
            <span class="scroll"></span>
          </span>
          <span class="mouse-label">Scroll</span>
        </a>

      </div>
      <!-- END .cover-v1 -->






      <div class="unslate_co--section" id="projects-section">
        <div class="container"> 
          <div class="relative"><div class="loader-portfolio-wrap"><div class="loader-portfolio dark"></div></div> </div>
          <div id="portfolio-single-holder"></div>

          <div class="portfolio-wrapper">

            <div class="d-flex align-items-center mb-4 gsap-reveal gsap-reveal-filter">
              <h2 class="mr-auto heading-h2">Projects</h2>
              

              
              <div class="filter-wrap">
                <div class="filter ml-auto" id="filters">
                  
                </div>
              </div>
              
            </div>


            <!-- {% for user_details in perks%} -->
            <div id="posts" class="row gutter-isotope-item">
              <div class="item web branding col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="images/TechDel_enl.png" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="TechDel - E-commerce Website for Gadgets" >
                    <div class="overlay">
                      <span class="wrap-icon icon-link2"></span>
                      <div class="portfolio-item-content">
                        <h3>TechDel</h3>
                        <p>E-commerce Website</p>
                      </div>
                    </div>
                    <img src="images/TechDel_1.png" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>
              <div class="item branding packaging illustration col-sm-6 col-md-6 col-lg-4 isotope-mb-2 ">
                <a href="images/bbs1.png" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Bits Bidding System - Exchange/buy/sell old products">
                    <div class="overlay">
                      <span class="wrap-icon icon-link2"></span>
                      <div class="portfolio-item-content">
                        <h3>Bits Bidding System</h3>
                        <p>Sell and Buy from others.</p>
                      </div>
                    </div>
                    <img src="images/bbs1.png" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>

              <div class="item branding packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">
                <a href="images/Spotify1.png" class="portfolio-item isotope-item gsap-reveal-img"  data-fancybox="gallery" data-caption="Spotify Clone - Recreation of Spotify">
                    <div class="overlay">
                      <span class="wrap-icon icon-link2"></span>
                      <div class="portfolio-item-content">
                        <h3>Spotify Clone</h3>
                        <p>Recreating Spotify</p>
                      </div>
                    </div>
                    <img src="images/Spotify.png" class="lazyload  img-fluid" alt="Images" />
                  </a>
              </div>

<!--               <div class="item web packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">

                <a href="images/FeedD.png" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Feed Diaries - Ongoing Project">
                    <div class="overlay">
                      <span class="wrap-icon icon-photo2"></span>
                      <div class="portfolio-item-content">
                        <h3>Feed Diaries</h3>
                        <p>Ongoing project.</p>
                      </div>
                    </div>
                    <img src="images/FeedD.png" class="lazyload  img-fluid" alt="Images" />
                  </a>

              </div> -->

              <div class="item web packaging col-sm-6 col-md-6 col-lg-4 isotope-mb-2">

                <a href="images/MTC.png" class="portfolio-item isotope-item gsap-reveal-img" data-fancybox="gallery" data-caption="Waiting for more oppotunities ">
                    <div class="overlay">
                      <span class="wrap-icon icon-photo2"></span>
                      <div class="portfolio-item-content">
                        <h3>More to Come</h3>
                        <!-- <p>Ongoing project.</p> -->
                      </div>
                    </div>
                    <img src="images/MTC.png" class="lazyload  img-fluid" alt="Images" />
                  </a>

              </div>


            </div>
            
          </div>


        </div>
      </div>


      <div class="unslate_co--section section-counter" id="interests-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Interests</span></h2>
            <span class="gsap-reveal"><img src="images/divider.png" alt="divider" width="76"></span>
          </div>


          <div class="row pt-5">
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="0">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="90">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label">Cricket</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="60">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label">Chess</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="95">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label">Basketball</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="100">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label">Cryptocurrency</span>
              </div>
            </div>
          </div>
        </div>
      </div>




      <div class="unslate_co--section" id="about-section">
        <div class="container">
          
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">About Me</span></h2>
            <span class="gsap-reveal"><img src="images/divider.png" alt="divider" width="76"></span>
          </div>
          

          <div class="row mt-5 justify-content-between">
            <div class="col-lg-8 mb-4 mb-lg-0" data-aos="fade-up">
              <figure class="dotted-bg gsap-reveal-img">
                <img src="images/contact2.png" alt="Image"  class="img-fluid">
              </figure>
            </div>
            <div class="col-lg-4 pr-lg-5">
              <h3 class="mb-4 heading-h3"><span class="gsap-reveal">We can make it together</span></h3>
              <p class="lead gsap-reveal">Would like to test my skills and learn something new everyday. </p>
              <p class="mb-4 gsap-reveal">Exposure to the industry and guidance is what I'm looking forward to.</p>
              <p class="gsap-reveal"><a href="/blob/master/Supreeth's_Resume.pdf" class="btn btn-outline-pill btn-custom-light" download="Supreeth's_Resume.pdf">Download my CV</a></p>
            </div>
          </div>
        </div>
      </div>

      <div class="unslate_co--section" id="services-section">
        <div class="container">

          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider">My Services</h2>
            <img src="images/divider.png" alt="divider" width="76">
          </div>

          <div class="row gutter-v3">
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="0">
                <div class="wrap-icon mb-3">
                  <img src="images/svg/001-options.svg" alt="Image" width="45">
                </div>
                <h3>Web <br> Development- <br>Backend</h3>
                
                <!-- <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. </p> -->
              </div> 
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="100">
                <div class="wrap-icon mb-3">
                  <img src="images/svg/002-chat.svg" alt="Icon" width="45">
                </div>
                <h3>Web <br> Design-<br>Frontend<br>(basics only)</h3>
                <!-- <p>Basics of frontend. Can tweak the it for my backend usage. </p> -->
              </div> 
            </div>
            <div class="col-md-6 col-lg-4 mb-4">
              <div class="feature-v1" data-aos="fade-up" data-aos-delay="200">
                <div class="wrap-icon mb-3">
                  <img src="images/svg/003-contact-book.svg" alt="Image" class="img-fluid" width="45">
                </div>
                <h3>User <br> Experience</h3>
                <!-- <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. </p> -->
              </div> 
            </div>

          </div>

        </div>
      </div>


      <div class="unslate_co--section section-counter" id="language-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Language</span></h2>
            <span class="gsap-reveal"><img src="images/divider.png" alt="divider" width="76"></span>
          </div>


          <div class="row pt-5">
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="0">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="90">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label">English</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="60">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label">Telugu</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="95">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label">Kannada</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="100">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label">French</span>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="unslate_co--section section-counter" id="skills-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">My Skills</span></h2>
            <span class="gsap-reveal"><img src="images/divider.png" alt="divider" width="76"></span>
          </div>


          <div class="row pt-5">
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="0">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="90">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label">Django</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="60">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label">HTML/CSS</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="95">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label">MySQL</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="100">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label">Python</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="100">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label">Java</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="100">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label">C</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="100">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label">MATLAB</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="100">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label">Solidity(learning)</span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="100">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label">NodeJS(Learning)</span>
              </div>
            </div>
          </div>
        </div>
      </div>


      <div class="unslate_co--section">
        <div class="container">
          <div class="owl-carousel logo-slider">
            <div class="logo-v1 gsap-reveal">
              <img src="images/django1.png" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="images/python1.png" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="images/java1.png" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="images/html_css2.png" alt="Image" class="img-fluid">
            </div>
            <div class="logo-v1 gsap-reveal">
              <img src="images/sql1.png" alt="Image" class="img-fluid">
            </div>
            
          </div>
        </div>
      </div>



      <!-- END .counter -->
      <div class="unslate_co--section" id="contact-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Get In Touch</span></h2>
            <span class="gsap-reveal"><img src="images/divider.png" alt="divider" width="76"></span>
          </div>


          <div class="row justify-content-between">
          

            <div class="row-md-3">
              <!-- <div class="contact-info-v1"> -->
                <div class="gsap-reveal d-block">
                  <span class="d-block contact-info-label">Email</span>
                  <a href="mailto:supreethmkiran@gmail.com" class="contact-info-val">supreethmkiran@gmail.com</a>
                </div>
            <br>
            <!-- <div class="col-2">--><div class="gsap-reveal d-block">
              <span class="d-block contact-info-label">Phone</span>
              <a href="tel:7349738884" class="contact-info-val">7349738884</a>
            </div>
                
            <!-- </div> -->

            <br>
                <div class="gsap-reveal d-block">
                  <span class="d-block contact-info-label">Address</span>
                  <address class="contact-info-val">Jayanagar <br> Bangalore, 560011</address>
                </div>
              <!-- </div> -->
            </div>

          </div>
        

        <div class="unslate_co--section section-counter" id="social-media-section">
        <div class="container">
          <div class="section-heading-wrap text-center mb-5">
            <h2 class="heading-h2 text-center divider"><span class="gsap-reveal">Social Media</span></h2>
            <span class="gsap-reveal"><img src="images/divider.png" alt="divider" width="76"></span>
          </div>


          <div class="row pt-5">
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="0">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="90">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label"><a href="https://wa.me/917349738884">WhatsApp</a></span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="100">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="60">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label"><a href="https://www.instagram.com/supreeth_mk/">Instagram</a></span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="200">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="95">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label"><a href="https://www.linkedin.com/in/supreeth-mk-49097a1ba">LinkedIn</a></span>
              </div>
            </div>
            <div class="col-6 col-sm-6 mb-5 mb-lg-0 col-md-6 col-lg-3" data-aos="fade-up" data-aos-delay="300">
              <div class="counter-v1 text-center">
                <span class="number-wrap">
                  <!-- <span class="number number-counter" data-number="100">0</span> -->
                  <!-- <span class="append-text">%</span> -->
                </span>
                <span class="counter-label"><a href="https://github.com/supreethmkiran">GitHub</a></span>
              </div>
            </div>
          </div>
        </div>
      </div>

      </div>
      </div>
      </div> 



      <footer class="unslate_co--footer unslate_co--section">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-7">
              
              <div class="footer-site-logo"><a href="#">Supreeth<span>.</span></a></div>

              <ul class="footer-site-social">
                <!-- <li><a href="https://www.youtube.com/channel/UCgZKHRaRdCys-HgqvmWXgOg">Youtube</a></li> -->
                <li><a href="https://twitter.com/MkSupreeth">Twitter</a></li>
                <li><a href="https://www.instagram.com/supreeth_mk/">Instagram</a></li>
                <li><a href="https://www.linkedin.com/in/supreeth-mk-49097a1ba">LinkedIn</a></li>
                <li><a href="https://github.com/supreethmkiran">GitHub</a></li>
              </ul>

              <p class="site-copyright">
                <small>&copy; 2020 <a href="#">Unwind  </a>. All Rights Reserved. Design with <span class="icon-heart text-danger"></span> by <a href="#">Unslate.co</a>.</small>
              </p>

            </div>
          </div>
        </div>
      </footer>

      
    </div>

    <!-- Loader -->
    <div id="unslate_co--overlayer"></div>
    <div class="site-loader-wrap">
      <div class="site-loader dark"></div>
    </div>

    <script src="js/scripts-dist.js"></script>
    <script src="js/main.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-157808202-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-157808202-1');
</script>

  </body>
</html>
